


body{
    
    background-repeat: no-repeat;
    position: fixed;
    min-width:100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
section{
    align-items: center;
    padding: 2p;
}

form, h1{
    text-align: center;
    color: rgb(235, 156, 19);

}




form, h2 {
    margin-top: 15px;
    text-align: center;
    color: white;

}
input, select, button {
    border-radius:10px;
    padding: 11px;
    margin: 2px 0;
    width: 50%;
    
}
button{
    background: rgb(209, 166, 26);
   color: rgb(11, 11, 22);
   font-family: Arial ;
}
button:hover{
    background: white;
    color: darkblue;
}

#formMessage {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

#bookingsList {
    text-align: center;
    margin-top: 10px;
}

.bookingItem {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}
