body {
    font-family: Arial;
    padding: 150px;
    margin: 50px;
    backgrounds: #f0f0f0;
    justify-content: center;
    align-items: center;
}
form, h2 {
    margin-top: 20px;
}
input, select, button {
    border-radius: 10px;
    padding: 11px;
    margin: 5px 0;
    width: 50%;
}
button{
    background: rgb(36, 242, 221);
    color: blue;
}
button:hover{
    background: white;
}